# Univariate analysis

It is a way to select the best feature to train the model based on statistical analysis. Univariate analysis evaluates the possible effect of one variable on the outcome. We will do statistical analysis on the features and select the best ones

In [2]:
import pandas as pd
import pylab
import matplotlib.pyplot as plt

import statsmodels.api as sm

from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:
house_df = pd.read_csv("./datasets/house_data_preprocessed.csv",dtype='float')

In [4]:
house_df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,lat,long,sqft_living15,sqft_lot15,age,renovated
0,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,47.5112,-122.257,1340.0,5650.0,63.0,0.0
1,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,2170.0,400.0,47.7210,-122.319,1690.0,7639.0,67.0,1.0
2,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,770.0,0.0,47.7379,-122.233,2720.0,8062.0,85.0,0.0
3,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,1050.0,910.0,47.5208,-122.393,1360.0,5000.0,53.0,0.0
4,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,1680.0,0.0,47.6168,-122.045,1800.0,7503.0,31.0,0.0

In [5]:
X = house_df.drop('price',axis=1)
Y = house_df['price']

In [6]:
X.shape

(21597, 17)

In [8]:
from sklearn.feature_selection import f_regression, SelectKBest
# f-regression is used to the test the individual effect of many regressors. Tests every single feature
# an estimator called SelectKest selects the K best features based on the scoring algorithm specified

In [9]:
select_features = SelectKBest(f_regression,k=3)

In [11]:
X_new = select_features.fit_transform(X,Y)

In [13]:
X_new.shape

(21597, 3)

In [15]:
X_new = pd.DataFrame(X_new)
X_new.head()

        0    1       2
0  1180.0  7.0  1180.0
1  2570.0  7.0  2170.0
2   770.0  6.0   770.0
3  1960.0  7.0  1050.0
4  1680.0  8.0  1680.0

In [17]:
#finding out which columns are the best ones given by our SelectKbest
selected_features = []
for i in range(len(X_new.columns)):
    for j in range(len(X.columns)):
        if(X_new.iloc[:,i].equals(X.iloc[:,j])):
            selected_features.append(X.columns[j])
selected_features

['sqft_living', 'grade', 'sqft_above']