# Classification using SVM

Steps:
1. Data wrangling (Using Pandas)
    1. Select only the required columns
    2. Drop rows containing NA
    3. 
2. Split the data into train and test set
3. Fit the model into the data
4. Predict using the model
5. Evaluate the score

In [52]:
import pandas as pd

In [53]:
data = pd.read_csv("titanic_train.csv")

In [54]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [60]:
data = data[["Pclass","Sex","Age","SibSp","Survived"]]

In [61]:
data.head()

   Pclass     Sex   Age  SibSp  Survived
0       3    male  22.0      1         0
1       1  female  38.0      1         1
2       3  female  26.0      0         1
3       1  female  35.0      1         1
4       3    male  35.0      0         0

In [62]:
data["Sex"] = data["Sex"].map({"male":0,"female":1})

C:\Users\rachh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Pclass      891 non-null int64
Sex         891 non-null int64
Age         714 non-null float64
SibSp       891 non-null int64
Survived    891 non-null int64
dtypes: float64(1), int64(4)
memory usage: 34.9 KB

Age seems to have some null values

In [68]:
data = data.dropna()

In [71]:
X = data.drop("Survived",axis = 1)
Y = data["Survived"]

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,random_state=1)

In [82]:
from sklearn.svm import SVC
model = SVC(kernel='linear',probability=True,random_state=0)

In [83]:
model.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=True, random_state=0, shrinking=True, tol=0.001,
  verbose=False)

In [86]:
y_predict = model.predict(X_test)

In [87]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.776536312849162